---
import { Image } from 'astro:assets';
import ProjectDetails from '../../../components/ProjectDetails.astro';
import WebOne from './godark-web-01.jpg';
import SnackM from './gd-snack-mylk.jpg';
import SnackC from './gd-snack-71-cane.jpg';
import SnackW from './gd-snack-white.jpg';
---

<div id="godark" class="section-space bg-[#f2daf0] text-[#074b50]">
	<h3 class="section-header">
		<span class="bg-black text-yellow">GoDark Chocolates</span> are premium stone-ground chocolates for chefs.
	</h3>

	<ProjectDetails
		role="Brand design + Website"
		projectDate="2017—2022"
		projName="GoDarkChocolate.com"
		projUrl="https://godarkchocolate.com"
	/>

	<div class="mx-auto">
		<div class="mx-auto my-16 text-gray-900 image-solid-high">
			<Image
				class={'pic-withloader'}
				src={WebOne}
				sizes="(max-width: 1980px) 100vw, 1980px"
				alt="Vegan white chocolate product page showing products and prices"
			/>
		</div>
	</div>
	<div class="max-w-sm mt-8 text-base">
		<p>A nice project for delicious chocolates.
			We did the branding and the web looking for fun, tropical and colorfull palettes conveying the warm and rich flavors.
		</p>
	</div>
	<div class="flex flex-col gap-4 mt-8 sm:flex-row">
		<div class="image-solid-high">
			<Image
			class={'pic-withloader'}
			src={SnackM}
			sizes="(max-width: 800px) 100vw, 800px"
			alt="Fitter happier"
		/></div>
		<div class="image-solid-high">
			<Image
			class={'pic-withloader'}
			src={SnackC}
			sizes="(max-width: 800px) 100vw, 800px"
			alt="Fitter happier"
		/></div>
		<div class="image-solid-high">
			<Image
			class={'pic-withloader'}
			src={SnackW}
			sizes="(max-width: 800px) 100vw, 800px"
			alt="Fitter happier"
		/></div>
	</div>
</div>
