---
const { title = 'Fede Bozo', gotoaddress = '/' } = Astro.props;
---

<a
	href={gotoaddress}
	class="flex items-center px-2 py-2 rounded-full homelink hover:bg-emerald-200 hover:text-emerald-900 hover:transition-all group"
>
	<svg
		viewBox="0 0 50 62"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="w-4 h-auto mr-3 group-hover:-rotate-12"
		><path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M25.4609 61.8423C25.8013 62.0601 26.2393 62.0517 26.5711 61.8209L49.5711 45.8209C49.8398 45.634 50 45.3274 50 45L50 19C50 18.6852 49.8518 18.3889 49.6 18.2L25.6 0.199999C25.2444 -0.0666673 24.7556 -0.0666673 24.4 0.199999L0.400004 18.2C0.148198 18.3889 3.7867e-06 18.6852 3.75918e-06 19L1.48619e-06 45C1.45638e-06 45.341 0.173748 45.6585 0.460948 45.8423L25.4609 61.8423ZM2.35396 44L9.2528 21.5788L21.3258 44L2.35396 44ZM23.0708 43.0222L10.6742 20L37.681 20L23.0708 43.0222ZM37.4103 18L11.2268 18L24.9624 2.54744L37.4103 18ZM17.6528 7.7604L8.55093 18L4 18L17.6528 7.7604ZM2 20L2 38.3496L7.64604 20L2 20ZM30.7879 6.59093L39.9785 18L46 18L30.7879 6.59093ZM48 20L40.93 20L48 39.3494L48 20ZM45.8114 46L26.698 59.2963L24.2049 46L45.8114 46ZM24.819 44L47.57 44L39.2571 21.249L24.819 44ZM22.1701 46L24.5909 58.9109L4.41761 46L22.1701 46Z"
			fill="currentColor"></path>
	</svg>
	{title}
</a>
