---
import svgSymbol from "../recraftr/img/symbols.svg";
---

<footer class="pt-16 pb-8 -mt-48 text-center bg-current sm:mt-0 sm:pb-10 sm:pt-20 lg:pb-32 lg:pt-28">
  <div class="px-4 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
    <h2 class="mt-40 text-2xl leading-none text-white sm:mt-8 font-current font-display">
      See if ReCraftr is right for you. (It totally is.)
    </h2>
    <p class="mt-8 text-white text-md">
      Get a guided tour through ReCraftr, and find out how you and your team
      can change how you use your content, forever.
    </p>

    <a class="w-full px-8 my-12 text-xl text-current btn-primary" href="#pricing">Get started</a>

    <div class="grid grid-cols-1 text-left text-white sm:grid-cols-2">
      <div>
        <svg role="img" class="h-auto fill-current w-36 max-h-7">
          <use xlink:href={svgSymbol + "#recraftr-logo-dark"}></use>
        </svg>
        <p class="my-2">Made in Miami by Priisma. &copy; 2023</p>
        <p>ReCraftr. All rights reserved.</p>
      </div>
      <ul class="grid grid-cols-2 text-left">
        <!-- <li><a href="#asd" class="link">Latest projects</a></li> -->
        <li><a href="#pricing" class="link">Pricing</a></li>
        <!-- <li><a href="#asd" class="link">FAQs</a></li> -->
        <li><a href="mailto:hello@priisma.com" class="link">Contact</a></li>
        <li><a href="#pricing" class="link">Get started</a></li>
        <li><a href="./terms-and-conditions" target="_blank" class="link">Terms & conditions</a></li>
        <li><a href="./privacy-policy" target="_blank" class="link">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</footer>
