---
import MainHead from '../../components/MainHead.astro'

---

<html lang="en">
	<head>
		<MainHead
			title="ReCraftr - Privacy policy"
			description="ReCraftr Privacy policy"
		/>
	</head>
	<body class="bg-gray-50">
		<header class="py-4 text-white bg-sky-600">
		  <div class="container px-4 mx-auto">
			<h1 class="text-xl font-bold">ReCraftr — Privacy policy</h1>
		  </div>
		</header>
		
		<section class="container px-4 mx-auto mt-16 mb-8">
			At ReCraft, your privacy is of utmost importance to us. This Privacy Policy explains how we collect, use, share, and protect the personal information we receive through LinkedIn Lead Gen Forms ("Form Data"). By using our services, you agree to the terms outlined in this Privacy Policy.

			Collection and Use of Form Data
			We collect and use Form Data submitted by registered LinkedIn members through Lead Gen Forms on Pages, subject to the privacy policy linked to the Lead Gen Forms, applicable laws, and the scope of consents obtained through the Lead Gen Forms. We use this information to: (a) provide our services, (b) communicate with you, and (c) improve and enhance our services.
			
			Sharing of Form Data
			We may share Form Data with third parties acting on our behalf, such as service providers, to help us provide our services. We are responsible for ensuring their compliance with these Service Terms and for limiting their use of Form Data on our behalf. We do not sell Form Data under any circumstances.
			
			Legal and Unlawful Use
			We will not use Form Data in any unlawful manner (e.g., unlawful discrimination). We will comply with all applicable laws and regulations when handling Form Data.
			
			Opt-Out and Deletion Requests
			If a LinkedIn member requests to opt-out of our communications or have his or her Form Data deleted, we will honor such request promptly.
			
			Changes to This Privacy Policy
			We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Effective Date" at the top of this page. You are advised to review this Privacy Policy periodically for any changes.
			
			Contact Us
			If you have any questions about this Privacy Policy or our privacy practices, please contact us at: [Insert Contact Information]
			
			By submitting your Form Data through the Lead Gen Forms, you acknowledge and agree to the terms and conditions set forth in this Privacy Policy.
		</section>
		
		<footer class="py-4 text-gray-800 bg-gray-300">
		  <div class="container px-4 mx-auto">
			<p class="text-sm text-center">&copy; 2023 ReCraftr. All rights reserved.</p>
		  </div>
		</footer>
	  </body>
</html>