---
import MainHead from '../../components/MainHead.astro'

---

<html lang="en">
	<head>
		<MainHead
			title="Priisma - Terms and Conditions"
			description="Priisma Terms and Conditions"
		/>
	</head>
	<body class=" bg-slate-100 text-slate-800">
		<header class="px-4 py-4 mx-auto mt-8 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
			<h1 class="mb-2 text-xl font-bold">Terms and Conditions</h1>
			<p class="mb-8 text-sm text-slate-600">Last updated: 05/02/2023</p>
		</header>
		<section class="px-4 pb-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
			<p>
				THIS TERMS OF USE AGREEMENT (the "Agreement") constitutes a legally binding agreement between Priisma, LLC, a limited liability company organized under the laws of the state of Florida ("Priisma"), and the user, whether personally or on behalf of an entity ("User"), with regard to access and use of Priisma's website: https://www.priisma.com (the "Website") and any other media form, channel, mobile website or mobile application related, linked or otherwise connected thereto. By accessing or using the Website, the User agrees to be bound by the terms and conditions of this Agreement. If the User does not agree to these terms and conditions, they should not access or use the Website.
			</p>

			<h2 class="my-4 font-bold text-md">1. Intellectual Property Rights</h2>

Unless otherwise indicated, the Website and all content, including source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics of any nature and regardless of format (herein, collectively or individually, the "Content"), and the trademarks, service marks, and logos contained there (the "Marks"), are owned and controlled by Priisma and are protected by copyright and trademark laws and any other applicable intellectual property law or regulation of the United States, foreign jurisdictions, and international conventions. The Content and Marks are provided "as is" for the User's information and personal use only. Except as expressly provided herein, no part of the Website and no Content may be copied, reproduced, aggregated, republished, uploaded, posted, displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without Priisma's express prior written permission. Priisma reserves all rights in the Website, Content, and Marks.

<h2 class="my-4 font-bold text-md">2. Ownership of Materials</h2>

All design and original source files created on the User's behalf ("Projects") belong to the User, and the User shall be the sole owner of the copyright for all Projects. In the event that any operation of law would cause Priisma to become the owner of a Project, in whole or in part, rather than the User, Priisma irrevocably and perpetually assigns its entire interest in the Project to the User, without limitation. The User warrants that any and all materials provided to Priisma as examples or as material to be incorporated into a project during the design process are owned by the User and do not infringe on or misappropriate any third party's rights, including, but not limited to, all intellectual property rights and any right of publicity. Priisma always reserves the right to share the User's design work publicly (social media, website, etc.) unless agreed upon in writing by both parties.

<h2 class="my-4 font-bold text-md">3. Third-Party Fonts</h2>

In the event that any Project incorporates fonts that are not owned by Priisma and require a commercial license in order for the User to legally reproduce, distribute, or publicly display the Project ("Third-Party Font(s)"), Priisma will inform the User in writing that one or more Third-Party Fonts have been incorporated into the Project and that the User will need to purchase one or more licenses for the Third-Party Fonts from the rights-holder(s) of said Third-Party Fonts in order to legally reproduce, distribute, or publicly display the Project. Said notice will include information sufficient for the User to identify which licenses are required and who to contact in order to purchase said licenses. So long as Priisma has informed the User of the incorporation of Third-Party Fonts as described above, the User assumes all responsibility for any consequences as a result of a failure by the User to purchase one or more licenses for any Third-Party Fonts incorporated into a Project.

<h2 class="my-4 font-bold text-md">4. User Representations</h2>

By using the Website, the User represents and warrants that: they have the legal capacity and agree to comply with these Terms of Use; they are not a minor in the jurisdiction of their domicile; they will not access the Website through automated or non-human means; they will not use the Website for any illegal or unauthorized purpose; their use of the Website will not violate any applicable law or regulation.

<h2 class="my-4 font-bold text-md">5. Prohibited Activities</h2>

The User shall not access or use the Website for any purpose other than that for which the Website is made available to them. The Website may not be used in connection with any commercial endeavors except those related to the work performed by Priisma on behalf of the User. Further, the User agrees to refrain from the following:

Make any unauthorized use of the Website;
Retrieve data or content for the purposes of creating or compiling a database or directory;
Circumvent, disable, or otherwise interfere with security-related features on the Website;
Engage in unauthorized framing or linking of the Website;
Trick, defraud or mislead Priisma or other users;
Interfere with, disrupt or create an undue burden on the Website or Priisma's networks or servers;
Use the Website in an effort to compete with Priisma;
Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Website;
Bypass any measures on the Website designed to prevent or restrict access to the Website or any portion thereof;
Harass, annoy, intimidate or threaten any of Priisma's employees, independent contractors or agents providing services through the Website;
Delete the copyright or other rights notice from any Content;
Copy or adapt the Website's software;
Upload or transmit, or attempt to do so, viruses, Trojan horses, or other material including anything that interferes with any party's use of the Website or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operations, or maintenance of the Website;
Upload or transmit, or attempt to do so, any material that acts as a passive or active information collection or transmission mechanism;
Disparage, tarnish or otherwise harm Priisma;
Use the Website in a manner inconsistent with any applicable laws, statutes or regulations.

<h2 class="my-4 font-bold text-md">6. Client Feedback</h2>

Priisma acknowledges and agrees that any questions, comments, suggestions, or other feedback or submission (each a "Submission") shall be the sole property of Priisma, and Priisma is under no obligation to keep a Submission confidential or take steps necessary to ensure the confidentiality of a Submission. Priisma shall be the sole and exclusive owner of all rights related to the Submission except to the extent that rights are granted to the client under Part 2 ("Ownership of Materials") and shall, at its sole and unrestricted discretion, use and disseminate a Submission for any lawful purpose without permission, acknowledgment, or compensation of or to the client. The client agrees that it has the right to articulate and put forth the Submission, and the client hereby waives all claims and recourse against Priisma for its use of the Submission in accordance with the terms hereof and in its sole discretion hereafter.

<h2 class="my-4 font-bold text-md">7. Management and Oversight</h2>

Priisma reserves the right to monitor the website for violations of these Terms of Use and to take appropriate legal action in response to a violation of the Terms of Use or any applicable law, statute or regulation. Priisma further reserves the right to restrict or deny access to the website or disable the client's use of the website. Such decision shall be in the sole discretion of Priisma, without notice or liability to the client. All decisions regarding the management of the website shall be at the sole discretion of Priisma and shall be designed to protect Priisma's rights and property.

<h2 class="my-4 font-bold text-md">8. Privacy Policy</h2>

By accessing and using the Priisma website, Client agrees to abide by the terms and conditions of the Privacy Policy adopted and incorporated herein. The website is hosted in the United States of America and any access to it from other regions of the world may result in the applicability of different laws, statutes or regulations governing personal data collection, use or disclosure. Client's continued use of the website and transfer of data to the United States constitutes express consent of Client to the transfer and processing of data in the United States.

Priisma does not knowingly collect or solicit information from individuals under the age of 18. In accordance with the Children's Online Privacy Protection Act (COPPA), if Priisma becomes aware that any information has been collected from an individual under the age of 13 without parental consent, Priisma will delete that information as soon as reasonably possible.

Priisma respects the privacy of its clients and all personal data is collected, used and processed in accordance with the governing law of the state of Florida and other applicable laws, statutes or regulations. Any information provided by the client through the website is kept confidential and is not shared with any third-party without the prior consent of the client. However, Priisma may disclose information when required by law, in response to a court order, subpoena, government investigation or other legal process.

<h2 class="my-4 font-bold text-md">9. Returns and Refunds</h2>

Priisma reserves the right to deny refunds based on its own discretion and without notice or liability to the client. Refund requests are assessed on a case-by-case basis. If a refund is deemed to be appropriate, there will be a 25% fee assigned to the remaining billable period. Priisma reserves the right to take appropriate legal actions against the client for a breach of this paragraph.

<h2 class="my-4 font-bold text-md">10. Modification</h2>

Priisma reserves the right to change, alter, modify, amend, or remove anything or any content on the website for any reason at its sole discretion. Priisma reserves the right to modify or discontinue all or part of the website without notice and without liability to the client.

<h2 class="my-4 font-bold text-md">11. Connection Interruptions</h2>

Priisma does not guarantee or warrant the website will be available and accessible at all times. Issues with hardware, software, or other items may result in interruption delays or errors beyond Priisma's control. The client agrees that Priisma shall not be liable to the client for any loss, damage, or inconvenience caused by the client's inability to access or use the website during any interruption in the connection or service.


<h2 class="my-4 font-bold text-md">12. Governing Law</h2>

This Agreement and any action related thereto shall be governed by and construed in accordance with the laws of the State of Florida without regard to its conflict of laws provisions.

<h2 class="my-4 font-bold text-md">13. Dispute Resolution</h2>

Any dispute arising from or relating to this Agreement shall be resolved through binding arbitration in accordance with the rules of the American Arbitration Association. The arbitration shall take place in the State of Florida. The arbitrator’s decision shall be final and binding, and judgment may be entered thereon in any court of competent jurisdiction. The parties agree to waive any right to a jury trial and instead opt for arbitration.

If any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions shall continue to be valid and enforceable. This Agreement constitutes the entire agreement between the parties and supersedes all prior agreements and understandings, whether written or oral, with respect to the subject matter hereof.

<h2 class="my-4 font-bold text-md">14. Disclaimer</h2>

The Priisma website and its services are provided on an “as-is,” “as-available” basis. The Client agrees that its use of the website and services is at its sole risk. Priisma disclaims all warranties, express or implied, in connection with the website and the Client’s use thereof, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. Priisma makes no warranties or representations about the accuracy or completeness of the website, the Content, or any websites linked to the website, and Priisma assumes no liability for any errors, mistakes, or inaccuracies of Content and materials, personal injury or property damage of any nature whatsoever, any unauthorized access to or use of Priisma's secure servers and/or any personal information and/or financial information stored therein, any interruption or cessation of transmission to or from the website, any bugs, viruses, Trojan horses, or the like which may be transmitted to or through the website by any third party, and/or any errors or omissions in Content and materials or for any loss or damage of any kind incurred as a result of the use of any content posted, transmitted, or otherwise made available through the website. Priisma does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party either through the website, a hyperlinked website, or any website or mobile application featured in any advertising.

<h2 class="my-4 font-bold text-md">15. Limitations of Liability and Indemnification</h2>

Priisma and its directors, employees, members, independent contractors or agents shall not be liable to the Client or any third party for any direct, indirect, consequential, incidental, special or punitive damages, including lost profit, lost revenue, lost data, attorneys’ fees, court costs, fines, forfeitures or other damages or losses arising from the Client’s use of the Priisma website and services.

The Client agrees to defend, indemnify and hold harmless Priisma and its subsidiaries, affiliates and all respective officers, members, agents, partners, employees and independent contractors from and against any loss, damage, liability, claim or demand including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) use of the Priisma website and services; (2) breach of these Terms of Use; (3) any breach of the Client’s representations and warranties set forth herein; (4) Client’s violation of the rights of any third party, including but not limited to intellectual property rights.

Notwithstanding the foregoing, Priisma reserves the right, at the Client’s expense, to assume control and defense of any matter for which the Client shall be required to indemnify Priisma hereunder. The Client agrees to cooperate with the defense of such claims.

<h2 class="my-4 font-bold text-md">16. User Data</h2>

The Client is solely responsible for all data transmitted to or that relates to any activity the Client has undertaken using the Priisma website and services. Priisma shall have no liability to the Client for any loss or corruption of any such data, and the Client hereby waives any right of action against Priisma from any such loss or corruption.

<h2 class="my-4 font-bold text-md">17. Electronic Communications, Transactions and Signatures</h2>

By using the Priisma website, you agree to receive electronic communications from Priisma, and you acknowledge that any agreements, notices, disclosures, or other communications sent via email or through the website satisfy any legal requirement that such communication be in writing. You agree to the use of electronic signatures, contracts, orders, and other records, and to electronic delivery of notices, policies, and records of transactions initiated or completed by Priisma or through the website. You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction that require an original signature or delivery or retention of non-electronic records or to payments or the granting of credits by any means other than electronic.

<h2 class="my-4 font-bold text-md">18. Showcasing Design Work</h2>

Priisma reserves the right to showcase design work on digital channels, including social media, website, etc., unless otherwise agreed upon. Clients may issue a non-disclosure agreement (NDA) between themselves and Priisma, which would void the right of Priisma to share or discuss the client's work publicly.

<h2 class="my-4 font-bold text-md">19. Referrals</h2>

Priisma may offer a referral program through a third-party partner, and any referrals, tracking, and payouts will be handled in accordance with the terms of the referral program provider.

<h2 class="my-4 font-bold text-md">20. Miscellaneous</h2>


These Terms of Use and any policies posted on the Priisma website or regarding the website constitute the entire agreement and understanding between you and Priisma. Failure of Priisma to enforce any right or provision of these Terms of Use shall not operate as a waiver of such right or provision. If any provision or part of these Terms of Use is determined to be unlawful, void, or unenforceable, that provision shall be severed from these Terms of Use but shall not otherwise affect the validity or enforceability of the remaining provisions herein. Nothing in these Terms of Use, the Privacy Policy, or on the website shall be construed to constitute the forming of a joint venture, partnership, employment, or agency relationship between you and Priisma.

<h2 class="my-4 font-bold text-md">21. Contact Information</h2>

For any questions or complaints regarding the Priisma website, please contact us at support@priisma.com.
		</section>
		
		<footer class="py-4 text-slate-700 bg-slate-200">
		  <div class="container px-4 mx-auto">
			<p class="text-sm text-center">&copy; 2023 Priisma — All rights reserved.</p>
		  </div>
		</footer>
	  </body>
</html>