:root {

	--color-blue: 45 0 255;
	--color-white: 254 254 255;

	/* https://uicolors.app/edit */

	--color-primary-50: 252 255 229;
	--color-primary-100: 246 255 199;
	--color-primary-200: 236 255 150;
	--color-primary-300: 220 253 89;
	--color-primary-400: 194 243 13;
	--color-primary-500: 170 219 7;
	--color-primary-600: 129 184 0;
	--color-primary-700: 94 132 6;
	--color-primary-950: 70 95 7;
	--color-primary-900: 56 76 11;

	--color-secondary-50: 248 245 237;
	--color-secondary-100: 243 240 226;
	--color-secondary-200: 231 224 197;
	--color-secondary-300: 216 197 151;
	--color-secondary-400: 202 168 109;
	--color-secondary-500: 197 155 89;
	--color-secondary-600: 179 130 71;
	--color-secondary-700: 143 100 63;
	--color-secondary-800: 116 81 56;
	--color-secondary-900: 94 68 48;
	--color-secondary-950: 56 50 46;

	--color-yellow-lemon: #F8FC2F ;
	--color-dark-coal: #082E41;
	--color-blue-craftr: #3300ff;

	--shadow-sm: 0px 19px 53px 0px rgb(0 0 0 / 0.03),
		0px 10px 28px 0px rgb(0 0 0 / 0.05),
		0px 6px 16px 0px rgb(0 0 0 / 0.05),
		0px 3px 9px 0px rgb(0 0 0 / 0.075),
		0px 1px 4px 0px rgb(0 0 0 / 0.1);
	--shadow-md: 0px 2px 2px 0px rgb(0 0 0 / 0.04),
		0px 6px 5px 0px rgb(0 0 0 / 0.06),
		0px 15px 14px 0px rgb(0 0 0 / 0.08),
		0px 50px 46px 0px rgb(0 0 0 / 0.12);
	--shadow-xl: 0px 3px 2px 0px rgb(0 0 0 / 0.02),
		0px 6px 5px 0px rgb(0 0 0 / 0.03),
		0px 12px 10px 0px rgb(0 0 0 / 0.04),
		0px 22px 18px 0px rgb(0 0 0 / 0.04),
		0px 42px 34px 0px rgb(0 0 0 / 0.05),
		0px 100px 80px 0px rgb(0 0 0 / 0.07);
		--shadow-solid: 5px 6px 0px -1px currentColor, 2px 3px 0 7px rgb(var(--color-secondary-50) / 1);



	--blur-md: blur(10px);
	--blur-xl: blur(128px);

	--font-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Inter', var(--font-base);
	--font-display: 'Cabinet Grotesk', var(--font-base);
	--font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;

	--corner-md: 12px;

	/* https://www.fluid-type-scale.com/ */
	--font-size-xs: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
	--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--font-size-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	--font-size-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
	--font-size-4xl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
	--font-size-5xl: clamp(4.77rem, 7.48vw + 2.9rem, 8.88rem);
	--font-size-6xl: clamp(5.96rem, 10.69vw + 3.29rem, 11.84rem);
	--font-size-7xl: clamp(7.45rem, 15.14vw + 3.66rem, 15.78rem);
	--font-size-8xl: clamp(9.31rem, 21.31vw + 3.99rem, 21.03rem);
	--font-size-9xl: clamp(11.64rem, 29.81vw + 4.19rem, 28.04rem);


	/* @property fallbacks */
	--border-radius: 4;
	--pixel-size: 4;
	--link-color-stop-a: #1d5bfc;
	--link-color-stop-b: #c238bd;

	--color-red: #ff5050;
	--color-yellow: #ffd542;
	--color-purple: #af43ff;
	--color-pink: #fdb2b7;
}