@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /** sanitize.css makes the line-height 1.5 globally, fix this for headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.11;
  }

  
  /* a:not(:is(.homelink)) {
    @apply border-b border-current motion-safe:transition-all motion-safe:duration-200 hover:text-indigo-600 focus:text-indigo-600 hover:bg-white focus:bg-white;
  }

  :where(a:not(:is(.btn, .pill))),
  .link {
    @apply text-blue-600 transition-colors duration-150 ease-in-out;
  } */
  
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  

  a.subtle,
  .link.link--subtle {
    @apply hover:no-underline hover:text-purple focus:text-purple;
  }

  .btn {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-white transition-colors duration-200 ease-in-out border-2 border-transparent rounded-md shadow-sm bg-dusk hover:bg-midnight focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-midnight;
  }

  .font-strech-expanded{
    font-stretch: expanded;
  }
  .font-display {
    @apply tracking-normal;
  }
  
.section-header{
  @apply text-3xl uppercase font-display;
}

  .project-details li {
    @apply py-2;
  }
  .project-details li:not(:nth-last-child(1)) {
    @apply border-b border-b-current;
  }

  .section-space {
    @apply px-4 py-16 sm:p-16 lg:p-24;
  }
  .image-solid-high {
	@apply border border-current border-solid rounded-md overflow-clip shadow-solid;
  }
  .section-subtitle {
    @apply mt-4 text-xl uppercase font-display md:mt-8 lg:mt-16;
  }
  .section-spread {
    @apply grid gap-4 my-4 md:flex-row md:my-8;
  }
  .text-gradient {
    background: var(--fill, var(--gradient-pop-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
