@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .btn-primary {
        @apply
        inline-flex justify-center px-6 py-4 text-lg font-extrabold tracking-wide text-current border-4 border-current rounded-lg bg-gray-50 focus:outline-none hover:bg-gray-200 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:bg-primary active:text-white/80 disabled:opacity-30 disabled:hover:bg-current font-display;
    }
    .btn-third {
        @apply inline-flex justify-center px-4 py-4 text-base font-semibold tracking-tight text-current border-2 shadow-sm rounded-xl bg-secondary-50 focus:outline-none hover:bg-secondary-200 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-50 active:bg-secondary-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-secondary-50;
    }
    .btn-secondary {
        @apply
        inline-flex
        justify-center
        rounded-full
        border-2
        font-display
        tracking-wide
        py-2
        px-[calc(theme(spacing.3)-1px)]
        sm:py-2
        sm:px-[calc(theme(spacing.4)-1px)]
        text-base
        bg-white
        font-semibold
        focus:outline-none
        border-current
        text-current
        hover:bg-gradient-to-tl
        hover:from-secondary-100
        hover:to-secondary-500
        transition-all
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-current
        active:text-slate-900/70
        disabled:opacity-40
        disabled:hover:border-secondary-300
        disabled:hover:bg-transparent;
    }
    .title-recraftr {
        @apply text-2xl font-extrabold leading-none text-current font-display;
    }
    .subtitle-recraftr {
        @apply mt-4 leading-tight text-current text-md opacity-70;
    }
    .h2-recraftr {
        @apply inline-flex items-center px-4 py-1 mb-4 rounded-full text-primary-600 ring-1 ring-inset ring-primary-600;
    }
    .nav-active > .btn-secondary {
        @apply transition-all bg-current group-hover:bg-primary-950 group-hover:bg-gradient-to-tl group-hover:from-secondary-100 group-hover:to-secondary-500 group-hover:text-current;
    }
    .nav-active > .btn-secondary > span { @apply text-white;}

    .section-spacing {
        @apply pt-16 pb-8 sm:pb-10 sm:pt-20 lg:pb-16 lg:pt-32 -scroll-mt-16;
    }
    .dividing-section {
        @apply relative z-0 flex flex-col items-center justify-center h-32;
    }
    .pic-withloader {
        @apply relative bg-gray-50 before:bg-gray-300 before:absolute before:w-full before:h-full before:animate-pulse before:z-0 ;
    }
    .pic-withloader img {
        @apply relative z-10;
    }
}
