@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {

  	--font-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: var(--font-display);
	--font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;

  --font-display: "Mona Sans", sans-serif;
  --font-display--font-optical-sizing: auto;
  --font-display--font-weight: 200 900;
  --font-display--font-style: normal;
  --font-display--font-variation-settings: "wdth" 100;
  --font-display--font-stretch: 75% 125%;
  --color-white: oklch(0.9973 0.0013 286.38);
	--color-black: oklch(0.1776 0 0);
	--color-tan: #f4efed;
	--color-tan-rgb: 244 239 237;
	--color-dawn: #f3e9fa;
	--color-dusk: #514375;
	--color-midnight: #434343;
	--color-midnight-rgb: 49 39 74;
	--color-blue: 255 115 179;
	--color-red: #ff5050;
	--color-yellow: #ffd542;
	--color-purple: #af43ff;
	--color-pink: #fdb2b7;
	--color-oldpink: #f2daf0;
	--color-selva: #074b50;
	--color-purplehaze: oklch(0.5427 0.2601 283.42);
	--color-whiterabbit: oklch(0.9973 0.0013 286.38);

	--color-woodstock: #076ac1;
	--color-sunset: #ffe992;
	

	--gradient-pop-1: linear-gradient(180deg, oklch(0.5444 0.2466 263.8) 0%, oklch(0.5939 0.2249 329.52) 115%);
	--gradient-pop-2: repeating-linear-gradient(
		135deg,
		#ff9776 0em,
		#769cff 1em,
		#c238bd 2em,
		#ff9776 3em
	);
	--gradient-pop-3: linear-gradient(180deg, #ffb4b4 0%, #c487f0 100%);
	--gradient-pop-4: linear-gradient(
		0deg,
		#632cca -33%,
		#62289e 10%,
		#30216b 50%,
		#1f1638 100%
	);
	--gradient-pop-5: linear-gradient(
		180deg,
		#ffd542 0%,
		#ff5050 25%,
		#af43ff 100%
	);
	--gradient-mood: linear-gradient(
		180deg,
		#d8c5ef 0%,
		rgba(225, 213, 238, 0) 100%
	);
	
	--gradient-pop: var(--gradient-pop-1);
	
	--shadow-sm: 0px 19px 53px 0px rgba(var(--color-midnight-rgb), 0.03),
		0px 10px 28px 0px rgba(var(--color-midnight-rgb), 0.05),
		0px 6px 16px 0px rgba(var(--color-midnight-rgb), 0.05),
		0px 3px 9px 0px rgba(var(--color-midnight-rgb), 0.075),
		0px 1px 4px 0px rgba(var(--color-midnight-rgb), 0.1);
	--shadow-md: 0px 2px 2px 0px rgba(var(--color-midnight-rgb), 0.04),
		0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.06),
		0px 15px 14px 0px rgba(var(--color-midnight-rgb), 0.08),
		0px 50px 46px 0px rgba(var(--color-midnight-rgb), 0.12);
	--shadow-xl: 0px 3px 2px 0px rgba(var(--color-midnight-rgb), 0.02),
		0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.03),
		0px 12px 10px 0px rgba(var(--color-midnight-rgb), 0.04),
		0px 22px 18px 0px rgba(var(--color-midnight-rgb), 0.04),
		0px 42px 34px 0px rgba(var(--color-midnight-rgb), 0.05),
		0px 100px 80px 0px rgba(var(--color-midnight-rgb), 0.07);
		--shadow-solid: 2px 2px 0 0 currentColor;


	--corner-md: 12px;

	--text-xs: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
	--text-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--text-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--text-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--text-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--text-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--text-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	--text-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
	--text-4xl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
	--text-5xl: clamp(4.77rem, 7.48vw + 2.9rem, 8.88rem);
	--text-6xl: clamp(5.96rem, 10.69vw + 3.29rem, 11.84rem);
	--text-7xl: clamp(7.45rem, 15.14vw + 3.66rem, 15.78rem);
	--text-8xl: clamp(9.31rem, 21.31vw + 3.99rem, 21.03rem);
	--text-9xl: clamp(11.64rem, 29.81vw + 4.19rem, 28.04rem);

	/* @property fallbacks */
	--border-radius: 4;
	--link-color-stop-a: #1d5bfc;
	--link-color-stop-b: #c238bd;
}

@layer base {

  /** sanitize.css makes the line-height 1.5 globally, fix this for headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.11;
  }

  
  a:not(:is(.homelink)) {
    @apply border-b border-current motion-safe:transition-all motion-safe:duration-200 hover:text-indigo-600 focus:text-indigo-600 hover:bg-white focus:bg-white;
  }

  :where(a:not(:is(.btn, .pill))),
  .link {
    @apply text-blue-600 transition-colors duration-150 ease-in-out;
  }
  

  

  a.subtle,
  .link.link--subtle {
    @apply hover:no-underline hover:text-purple focus:text-purple;
  }

  .btn {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-white transition-colors duration-200 ease-in-out border-2 border-transparent rounded-md shadow-sm bg-dusk hover:bg-midnight focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-midnight;
  }

  .font-strech-expanded{
    font-stretch: expanded;
  }
  .font-display {
    @apply tracking-normal;
  }
  
.section-header{
  @apply text-3xl uppercase font-display;
}

  .project-details li {
    @apply py-2;
  }
  .project-details li:not(:nth-last-child(1)) {
    @apply border-b border-b-current;
  }

  .section-space {
    @apply px-4 py-16 sm:p-16 lg:p-24;
  }
  .image-solid-high {
	@apply border border-current border-solid rounded-md overflow-clip shadow-solid;
  }
  .section-subtitle {
    @apply mt-4 text-xl uppercase font-display md:mt-8 lg:mt-16;
  }
  .section-spread {
    @apply grid gap-4 my-4 md:flex-row md:my-8;
  }
  .text-gradient {
    background: var(--fill, var(--gradient-pop-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
