---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
// import Nav from '../components/Nav/index.jsx';
import ContactInfo from "../components/ContactInfo.astro";
---

<html lang="en">
	<head>
		<MainHead
			title="About | Fede Bozo — Product Designer in Miami"
			description="Designer, storyteller, developer, musician."
		/>
	</head>
	<body
		class="selection:bg-fuchsia-300 selection:text-fuchsia-900 bg-slate-100 text-slate-800"
	>
	<header class="container">
		<ContactInfo />
	</header>
		<div class="container">
			<h1 class="section-header">Hola, I'm Fede</h1>
			<div class="mt-8 prose lg:prose-xl">
				<p>Designer, yes. Developer, sort-of yes. Storyteller, tell me if you make it to the end.</p>
				<p>Design has been my way to help express interesting ideas. But I also graduated from it.</p>
				<p>I've helped <a href="http://www.calcanet.com/">Calcanet</a> sell domains, others to sell cars, dog food, human food, downloadable mobile pictures (back in the WAP era), horse racing news and tips, and one of my favorites <a href="https://godarkchocolate.com/">GoDark Chocolate</a>, a premium chocolate brand.</p>
				<p>
					Built some cool stuff for OpenEnglish for student testing and payments, a tele-medicine app for the Miami Children's Hospital, airline tickets bookings, and lately a telecom billing platform at <a href="https://quotingbill.com">QuotingBill</a> that you should check out.
				</p>
				<p>
					I'm continuously learning new ways to bring ideas to life (corny, I know) and have experience with different methodologies and technologies, Shape up (from the <a href="https://basecamp.com/shapeup">ShapeUp</a> book) has been my best experience so far in delivering relevant products that matter.
				</p>
				<p>I ask a lot, write notes and love teaming up with devs, business and everyone I can to get the best results.</p>
				<p>
					I'm a musician so in my spare time I bang some tunes to enjoy life.<br>
					Enough for of me now. I'm curious about you, so shoot me a message so we can start talking.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
