---
import HomeLink from './Button/HomeLink.astro';
---
<div class="flex items-center justify-between text-sm text-current contact-info">
	<h1><HomeLink /></h1>
	<ul class="leading-normal list-none">
		<li>Email: <a href="mailto:fede@priisma.com">fede@priisma.com</a></li>
		<li>LinkedIn: <a href="https://www.linkedin.com/in/fedebozo/" target="_blank">in/fedebozo</a><span class="sr-only">Opens in new window</span></li>
		<!-- <li>Dribble: <a href="https://dribbble.com/fedebozo/" target="_blank">/fedebozo</a><span class="sr-only">Opens in new window</span></li> -->
		<li>Twitter: <a href="https://twitter.com/fbozo/" target="_blank">/fbozo</a><span class="sr-only">Opens in new window</span></li>
	</ul>
</div>
