---
const {
	title = 'Fede Bozo: Designer',
	description = 'Fede Bozo — Designer',
} = Astro.props;
import '../styles/variables.css'
import '../styles/tailwind.css'
---
<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-SPNJS94CCP"></script>
<script type="text/partytown">window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-SPNJS94CCP');</script>
<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz,wdth,wght@8..144,50.8,530&display=swap" rel="stylesheet">