---
const {
	title = 'Fede Bozo: Designer',
	description = 'Fede Bozo — Designer',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,XTRA,YTAS@8..144,25,477,736;8..144,100,468,750;8..144,151,468,750;8..144,151,603,750&display=swap" rel="stylesheet">