---
import { Picture } from "@astrojs/image/components";
import ProjectDetails from "../../../components/ProjectDetails.astro";
---

<div id="quotingbill" class="section-space">
  <h3 class="text-4xl uppercase font-display">
    <span class="text-black bg-yellow">QuotingBill</span> is a platform that makes
    recurring billing, accurately simple for tel-com.
  </h3>
  <ProjectDetails
    role="Principal designer + Front-end html/css/vue"
    projectDate="2019–2021"
    projName="QuotingBill.com"
    projUrl="https://quotingbill.com"
  />

  <div class="mx-auto">
    <div class="mx-auto my-16 text-gray-900 image-solid-high">
      <Picture
        data-zoomable
        src={import("../quotingbill/qb-cancellations-selected.jpg")}
        widths={[200, 400, 1980]}
        sizes="(max-width: 1980px) 100vw, 1980px"
        alt="Customers page showing different products selected for cancellation"
      />
    </div>
  </div>
  <div class="max-w-sm mt-8 text-xs prose text-white">
    <p>
      In the last part of 2019, I worked on the design of QuotingBill to bring a
      simple and streamlined way to invoice the Telecommunications space to the
      market.
    </p><p>
      We deeply researched what the current market had to offer for billing and
      invoicing and started building a simple yet powerful experience for our
      customers from the ground up.
    </p>

    <p>
      From that research, we developed an internal process for building each
      section with intention and meaning for the global system and for each
      component.
    </p>
  </div>

  <h3 class="section-subtitle">Breadboarding</h3>
  <div class="max-w-sm my-6 text-xs prose text-white">
    <p>We wired the whole process of cancelling a product from the very concept, to each of the steps in detail in order to define each step as needed.</p>
  </div>
  <div
    class="grid-cols-1 section-spread sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <Picture
      src={import("../quotingbill/qb-breadboard-subs-w-log.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Breadboard on for cancelling with logs"
    />
    <Picture
      src={import("../quotingbill/qb-breadboard-subs-w-bucket.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Breadboard on for cancelling with buckeet"
    />
    <Picture
      src={import(
        "../quotingbill/qb-breadboard-subs-cancellations-customers.jpg"
      )}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Breadboard on for cancelling with customers"
    />
    <Picture
      src={import("../quotingbill/qb-breadboard-subs-cancellations.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Breadboard on for cancelling a product"
    />
  </div>
  <h3 class="section-subtitle">Fat markers</h3>
  <div class="grid-cols-1 section-spread sm:grid-cols-2 md:grid-cols-3">
    <Picture
      src={import("../quotingbill/qb-fatmarker-bucket.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Fat marker for the bucket"
    />
    <Picture
      src={import("../quotingbill/qb-fatmarker-selection-to-bucket.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Fat marker for the bucket selection"
    />
    <Picture
      src={import("../quotingbill/qb-bucket-prototype.jpg")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Fat marker for the bucket selection"
    />
  </div>
  <h3 class="section-subtitle">Sections in details</h3>
  <div class="section-spread sm:grid-cols-2 md:grid-cols-3">
    <figure>
      <Picture
        src={import("../quotingbill/qb-invoice.png")}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Customers page showing different products selected for cancellation"
      />
      <figcaption class="text-xs text-white">Invoice page</figcaption>
    </figure>
    <figure>
      <Picture
        src={import("../quotingbill/qb-projects.png")}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Customers page showing different products selected for cancellation"
      />
      <figcaption class="text-xs text-white">Project page</figcaption>
    </figure>
    <figure>
      <Picture
        src={import("../quotingbill/qb-users.png")}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Customers page showing different products selected for cancellation"
      />
      <figcaption class="text-xs text-white">
        Adding users to a third-party service through QuotingBill
      </figcaption>
    </figure>
  </div>

  <div class="section-spread sm:grid-cols-2 md:grid-cols-3">
    <div class="max-w-sm mt-8 text-xs prose text-white md:col-start-2">
      <p>
        The end product comprises a full suite of helpers connected to other
        services to make invoicing metered usage simple and trackable.
      </p>
    </div>
    <!-- <Picture
	  src={import('../quotingbill/qb-provision-users-sample.jpg')}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Fat marker for the bucket"
      /> -->
    <Picture
      src={import("../quotingbill/qb-provisioning-frontpage.png")}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      alt="Fat marker for the bucket selection"
    />
  </div>
  <div class="section-spread">
    <div class="flex max-w-sm gap-4 p-8 mt-8 text-xs bg-selva text-oldpink rounded-2xl">
      <div class="text-lg">👀🕵️‍♀️</div>
      <div><h4 class="mb-4 text-base font-semibold">Check QuotingBill from the inside <a href="https://fedebozo.quotingbill.io/" class="font-bold" target="_blank">in this playground.</a>
      </h4>
      <p>User → <span class="font-mono bg-slate-200 text-slate-700">user@quotingbill.com</span></p>
      <p>Pass → <span class="font-mono bg-slate-200 text-slate-700">Try-quoting-b1ll-now!</span></p></div>      
    </div>
  </div>
</div>
